<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Prediction</title>
    <link rel="shortcut icon" href="images/logo/logo.webp" />
    <link rel="stylesheet" href="css/fuelPrediction.css">
    <script src="js/fuelTabSwitch.js" type="text/javascript"></script>
</head>
<body>
    <div class="button-container">
        <button class="nav-button" onclick="openTab(event, 'Form')">Fuel Quote Form</button>
        <button class="nav-button" onclick="openTab(event, 'History')">Fuel Quote History</button>
      </div>
      

<div id="Form" class="tabcontent" style="display:block">
  <div id="quote-form">
      <form>
          <label for="gallons">Gallons Requested:</label>
          <input type="number" id="gallons" name="gallons" required>

          <label for="address">Delivery Address:</label>
          <input type="text" id="address" name="address" required>

          <label for="delivery-date">Delivery Date:</label>
          <input type="date" id="delivery-date" name="delivery-date" required>

          <label for="suggested-price">Suggested Price / Gallon:</label>
          <input type="number" id="suggested-price" name="suggested-price" required>

          <label for="total-due">Total Amount Due:</label>
          <input type="number" id="total-due" name="total-due" readonly>

          <button type="submit">Submit Quote</button>
      </form>
  </div>
</div>

      
      <div id="History" class="tabcontent">
        <table>
          <thead>
            <tr>
              <th>Gallons</th>
              <th>Delivery Address</th>
              <th>Delivery Date</th>
              <th>Price / Gallon</th>
              <th>Total Due</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table> 
      </div>
      

</body>
</html>