body {
  
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-image: url("../images/background/fuel_prediction_background.jpg");
    background-size: cover;
    background-repeat: none;
    color: black;
}

.tab button {
  background-color: #595757;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
}

.tabcontent {
  display: none;
  padding: 20px;
}

#quote-form {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px; 
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}

#History { 
  background-color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left; 
}

th {
  background-color: #007bff;
  color: #fff;
}

#History table tbody tr:nth-child(odd) {
  background-color: white;
}

#History table tbody tr:nth-child(even) {
  background-color: #e6f7ff; 
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}

.nav-button {
  padding: 10px 20px;
  font-size: 16px;  
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}
