body {
  
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-image: url("../images/background/fuel_prediction_background.jpg");
    background-size: cover;
    background-repeat: none;
    color: black;
}