<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Prediction</title>
    <link rel="shortcut icon" href="images/logo/logo.webp" />
    <link rel="stylesheet" href="css/fuelPrediction.css">
</head>
<body>
    
</body>
</html>